<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CampScape</strong> by <a href="https://github.com/Avinash-Ganore">Avinash Ganore</a>.
        <br>
        &copy; Campscape 2025
      </p>
    </div>
  </footer>